.env
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules
# Ignore weather_data folders
data/air_quality/aq_data/
data/weather/weather_data/
data/traffic/filtered_roads_with_sums.csv
data/traffic/summary_by_road.csv